.my-form-css{
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  list-style: none;
  padding: 0;
}

.my-form-js li{
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
}

.my-form-js label{
  width:150px;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.my-form-js input{
  width: 200px;
  margin-bottom: 10px;
  box-shadow: 0 1px #999;
}

input[type='button'] {
 background-color: #FAEBD7;
 font-size: 1.2em;
 cursor: pointer;
 font-weight: bold;
 box-shadow: 0 2px #F5F5DC;
}

input[type='button']:hover{
  background-color: #F5F5DC;
}

.message{
  background-color: #F08080;
  font-size: 1.3em;
}