li {
    list-style: none;
}
input {
    width: 200px;
    background-color: #FAFAD2;
    text-align: center;
}
.hide {
    display: none;
}
#note {
    color: #ff0000;
    font-weight: bold;
}
p {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    overflow-wrap:break-word;
}
.edit-btn-js {
    margin-left: 1%;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50em;
    color: #fff;
    background-color: #3598DB;
    border-color: #0C417C;
    background-image: linear-gradient(#2d2fce,#0C417C);
}
.editable {
    background-color: #FAFAD2;
}
.ratings-list {
    display: inline-block;
    border: 2px solid black;
}

/* reset and submit buttons from edit movie */

#reset-edit-btn {
    margin-left: 10%;
    border-radius: 50em;
    background:linear-gradient(#ff4d4d,#ff0000);
    color: #fff;
    border-color:#ff4d4d;
}
#submit-changes-js {
    border-radius: 50em;
    background:linear-gradient(#CDDE1E, #6E9E0C);
    color: #fff;
    border-color: #CDDE1E;
}