#movieDetails-container {
    width: 90%;
    margin: 20px auto;
}

.details-description{
    width: 80%;
    margin: 20px auto;
}

/* p[title="Title"]::before{
    content: "Title: ";
    color: rgb(141, 51, 73);
} */

/* p[title="Plot"]::before{
    content: "Plot: ";
    margin-right: 100%;
    color: rgb(141, 51, 73);
} */

p[title="Director"]::before{
    content: "Director: ";
    display: block;
    text-align: left;
    color: rgb(141, 51, 73);
}

p[title="Actors"]::before{
    content: "Actors: ";
    display: block;
    text-align: left;
    color: rgb(141, 51, 73);
}

p[title="imdbRating"]::before{
    content: "IMDB Rating: ";
    display: block;
    text-align: left;
    color: rgb(141, 51, 73);
}

p[title="Year"]::before{
    content: "Year: ";
    display: block;
    text-align: left;
    color: rgb(141, 51, 73);
}

.details-description p {
    display: block;
    border: none;
    width: 100%;
    margin: 1em auto;
}

.details-description p:first-child {
    font-size: 1.2em;
}

/* edit/delete buttons styles */

.modify-buttons {
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50em;
    color: #fff;
}
.edit-button{
    background-color: #3598DB;
    border-color: #0C417C;
    background-image: linear-gradient(#2d2fce,#0C417C);
}

.delete-button{
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    background-color: #dc5f59;
    background-image: linear-gradient(#dc5f59, #b33630);
}


@media (min-width: 1000px) {

    #movieDetails-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details-description {
        display: flex;
        margin: 15px;
        flex-direction: column;
    }

    .details-img {
        width: 80%;
        max-width: 450px;
        min-width: 400px;
        margin: 0 auto;
    }

    p[title] {
        text-align: left;
    }

    .registered-options {
        display: flex;
        align-self: flex-end;
    }
}

@media (max-width: 999px) and (min-width: 415px){
    
        #movieDetails-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .details-description {
            display: flex;
            margin: 15px;
            flex-direction: column;
        }
        
        .details-img {
            width: 250px;
        }

        .registered-options {
            display: flex;
            align-self: flex-end;
        }
}