/* Search results container div */

#search-results {
    display: flex;
    margin: 0 auto;
    width: 90%;
    list-style: none;
    flex-direction: column;
    align-items: center; 
}

/* One search result container div */
.search-results-container {
    position: relative;
    width: 60%;
    margin-top: auto;
    border: 1px solid #fff;
    margin: 0.3em;
}
.search-results-container:hover {
    cursor: pointer;
}

/* Poster img inside search result container div */

.search-results-img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    height: auto;
}

/* Movie title inside search result container div */
.movie-title-js {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    border-radius: 0.5em;
    padding: 0.3em;
    top: 50%;
    left: 50%;
    background-color: darkgray;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

.search-results-container:hover .search-results-img {
    opacity: 0.3;
}

.search-results-container:hover .movie-title-js {
    opacity: 1;
}

.hide {
    display: none;
}

/*  genre list selector */
#genre-list-js:hover{
    cursor: pointer;
}

/* Media Queryes */

    /* Fullscreen */
@media (min-width: 415px) {
    #search-results {
        display: flex;
        margin: 0 auto;
        width: 90%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    /* One search result container div */
    .search-results-container {
        position: relative;
        width: 275px;
        margin-top: auto;
        border: 1px solid #fff;
        margin: 0.3em;
    }
}