/* 
Import our own css files
*/

@import url('CSS/reset.css');
@import url('CSS/layouts.css');
@import url('CSS/mobilefirst.css');
/* @import url('CSS/header.css');
@import url('CSS/searchlogin.css'); */
@import url('CSS/mediaquery.css');

.hide {
    display: none;
}