/*--------------------------------------------------------------
	The main layouts of the page
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
    font-family: 'Merriweather', sans-serif;
}

body {
    background: rgb(198, 200, 204);
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height:100px; }

footer{ 
    display: block;
    position: absolute; 
    bottom: 0;
    width: 100%;
    height:100px;
  }