/* 
    Site search and Login Register design.
----------------------------------------------------
*/

.site-search-login {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    background: #000;
    color: #fff;
    padding: .6em 1em;
}

input, 
select {
    color: black;
}

/* 
    Search
----------------------------------------------------
*/

.search-form{
    display: flex;
    flex-flow: row wrap;
}

/* 
    Login - Register - Logout
----------------------------------------------------
*/

.login-register-form{
    display: flex;
    flex-flow: row wrap;
}

.register-btn,
.login-btn,
.search-btn
{
    text-align: center;
    text-decoration: none;
    background: rgb(15, 15, 15);
    color: white;
    border: none;
    margin: 0;
    padding: .6em 1em;
}