.my-form-js{
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  list-style: none;
  padding: 0;
}

.my-form-js li{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.my-form-js li label{
  width:100px;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.my-form-js li input{
  width: 200px;
  margin-bottom: 10px;
}

