/* 
    Global properies
------------------------------------
*/

html{
    background-color: green;
}

.content-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/* 
    Header properies
------------------------------------
*/



/* 
    Header Search properties
------------------------------------
*/



/* 
    Header Login-Register
------------------------------------
*/



/* 
    Navigation properies
------------------------------------
*/



/* 
    Dinamic content properies
------------------------------------
*/



/* 
    Footer properies
------------------------------------
*/