/* 
    Global properies
------------------------------------
*/

html{
    background-color: green;
    color: white;        
    font-family: sans-serif;
}


.content-wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(107, 85, 126);
}


/* 
    Header global properies
------------------------------------
*/

.header-wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}


/* 
    Header Logo
------------------------------------
*/

.logo-section{
}

/* 
    Header Login-Register
------------------------------------
*/

.login-register-section{
    display: flex; 
    flex-grow: 1;
    justify-content: flex-end;
}

/* 
    Navigation
------------------------------------
*/

.menu-section {
}
    
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 15%);
}
    
.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .6em 1em;
}
    
.menu li a:hover {
    background: hsl(0, 0%, 25%);
}


/* 
    Header Search
------------------------------------
*/

.search-section {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}
    
/* 
    Header media query
------------------------------------
*/

@media screen and (min-width: 30em){
    .single-line-nav ul {
        display: flex;
        justify-content: flex-end;
    }
}

/* 
    Dinamic content properies
------------------------------------
*/



/* 
    Footer properies
------------------------------------
*/