/* 
    Site header style and navigation.
----------------------------------------------------
*/

.site-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background: #000;
    color: #fff;
    padding: .6em 1em .6em .5em;
}

/* 
    Header
----------------------------------------------------
*/

.site-branding {
    display: flex;
    align-items: center;

}

.site-title {
    margin: 0 .5em;
    padding: .6em 1em;
}

.site-description {
    margin: 0;
    padding-right: 1em;
    font-size: .9em;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 100;
}

/* 
    Navigation
----------------------------------------------------
*/

.site-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    background: rgb(15, 15, 15);
}
    
.site-menu li a {
    color: white;
    padding: .6em 1em;
}
    
.site-menu li a:hover {
    background: hsl(0, 0%, 25%);
}